<!DOCTYPE html>
<html>
  <head>
    <title>Table42</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["google_api_key"]}" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= favicon_link_tag image_path("logo.png"), :rel => "icon", :type =>  "image/png" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
      window.images = {
        table42Logo: "<%= image_path("logo.png") %>",
        searchGlass: "<%= image_path("search_glass.png") %>",
        homeBackground: "<%= image_path("home_bg.jpg") %>",
        showBackground: "<%= image_path("show_bg.jpg") %>",
        stockPhotos: {
          "American": "<%= image_path("american.jpg") %>",
          "Asian": "<%= image_path("chinese.jpg") %>",
          "Chinese": "<%= image_path("chinese.jpg") %>",
          "Steakhouse": "<%= image_path("steakhouse.jpg") %>",
          "French": "<%= image_path("seafood.jpg") %>",
          "Indian": "<%= image_path("indian.jpg") %>",
          "Italian": "<%= image_path("italian.jpg") %>",
          "Mediterranean": "<%= image_path("mediterranean.jpg") %>",
          "Seafood": "<%= image_path("seafood.jpg") %>",
          "Sushi": "<%= image_path("sushi.jpg") %>",
          "Steakhouse":  "<%= image_path("steakhouse.jpg") %>",
          "Spanish":  "<%= image_path("spanish.jpg") %>",
        },
        cities: {
          "New York City": "<%= image_path("nyc.jpg") %>",
          "Los Angeles": "<%= image_path("la.jpg") %>",
          "San Francisco": "<%= image_path("sf.jpg") %>",
          "Seattle": "<%= image_path("seattle.jpg") %>",
          "Chicago": "<%= image_path("chicago.jpg") %>",
          "Washington DC": "<%= image_path("dc.jpg") %>",
        },

      }
    </script>

    <%= yield %>
  </body>
</html>
